
$body-bg: #eee;
$blue: rgb(24, 136, 255);
$indigo: rgb(113, 36, 240);
$purple: rgb(103, 69, 167);
$pink: rgb(233, 21, 118);
$red: rgb(243, 12, 16);
$cyan: rgb(27, 185, 209);
$teal: rgb(42, 216, 164);
$green: rgb(41, 195, 76);
$primary: #17224D;
$secondary: #515877;
$border-radius: 0.5rem;
$border-radius-lg: 1.2rem;
$btn-border-radius-lg: $border-radius;
$card-border-radius: $border-radius-lg;
$modal-content-border-radius: $border-radius;
$input-border-radius-lg: $border-radius;
$display4-size: 2rem;
$display3-size: 3.2rem;
$display2-size: 5rem;
$gray-900: rgb(33, 37, 41);
$dark: $gray-900;
$gray-200: rgb(235, 237, 240);
$light: $gray-200;
$jumbotron-bg: rgb(223, 228, 231);
$black: rgb(0, 0, 0);
$card-cap-bg: rgba($black, .02);
$paragraph-margin-bottom: 0.8rem;
$gray-800: rgb(54, 60, 66);
$gray-700: rgb(74, 80, 87);
$gray-600: rgb(112, 120, 127);
$gray-500: rgb(176, 183, 189);
$gray-400: rgb(208, 213, 218);
$gray-300: rgb(221, 224, 228);
$gray-100: rgb(248, 248, 248);
$white: rgb(255, 255, 255);