@import "bootstrap/variables";

#Apresentacao #content{
    animation: present-text;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
}
@keyframes present-text{
    0%{
        margin-left:-100vw;
    }
    100%{
        margin-left:0px;
    }
}
#Apresentacao .animate-svg svg{
    position: absolute;
    width:50vw;
    top:-20vh;
    right:-20vw;
}
#Apresentacao .animate-svg svg rect{
    fill:rgba(255,255,255,.05);
    rx:75.6327px;
    width:488.007px;
    height: 151.265px;  
}
#Apresentacao #rect1{
    animation-name:rect1;
    animation-duration:1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
#Apresentacao #rect2{
    animation-name:rect2;
    animation-duration:800ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
#Apresentacao #rect3{
    animation-name:rect3;
    animation-duration:1.1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
#Apresentacao #rect4{
    animation-name:rect4;
    animation-duration:1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes  rect1{
    0%{
        x:3000;
        y:0;
    }
    100%{
        x:166;
        y:260;
    }
}
@keyframes  rect2{
    0%{
        y:300;
        x:1000;
    }
    100%{
        y:570;
        x:0;
    }
}
@keyframes  rect3{
    0%{
        x:5000;
        y:0;
    }
    100%{
        x:295;
        y:627;
    }
}
@keyframes  rect4{
    0%{
        x: 7000;
        y:0;
    }
    100%{
        x:435;
        y:305;
    }
}
.pesquisa .card:hover{
    background:$primary;
    color: $gray-200;
}
.pesquisa .card:hover img{
    filter:invert(1);
}
.pesquisa .card img{
    height:150px;
}
#categorias{
    background:$white;
}
