@import "bootstrap/variables";

.box{
  float: left;
  width: 35%;
  padding: 5%;
  border-radius: 20px;
}
.texto{
  margin-left: 200px;
}
.box:last-child {
  background: $white;
}
.card img {
  background-color: $gray-400;
  border:3px solid $primary;
}

.card:hover img{
  border-color:$light;
}

.card h5{
  color: $primary;
  font-weight: 500;
}
.card:hover{
  background-color: $primary;
}
.card:hover *{
  color: $light;
}
/*Fim da página de pesquisadores*/