*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container-contato{
    min-height: 100vh;
    background: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato-page{
    width: 100%;
    max-width: 1400px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
h2{
    width: 100%;
    color: #17224D;
    font-size: 3em;
    margin-bottom:1em;
}
section form{
    width: 75%;
    background: #17224D;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 0 20px #000000b3;
}
