.show-banner{
    width:100%;
    background:#17224D;
}
.show-banner .conteudo{
    padding: 13rem 2rem;
}
.show-banner div{
    display: inline-block;
}
.show-banner div:nth-child(1n):not(.cut){
    z-index: 1010;
    position: relative;
}

.show-banner .cut .bg{
    position: absolute !important;
    right:-15%;
    top:-30%;
    z-index: 1 !important;
}
.show-banner .cut{
    width:100%;
    height:100%;
    overflow: hidden;
    display: block;
    top:0;
    position: absolute;
    z-index: 1 !important;

}   
.show-banner .show-banner-content{
    z-index:10;
    max-width:60vw;
    vertical-align: middle;
    padding-right: 2rem;
    color:#eee;
}
.show-banner-content h1{
    font-size:5em;
    font-weight: 700;
}

.show-banner .logo{

}
.card img{
    width:50%;
    margin:auto;
    padding: 2em auto;
}
.pesquisa .card{
    height:15vw !important;
    border-radius: 8%;
    transition:background, transform 600ms;
    backface-visibility: hidden;

}
.pesquisa .card *{
    transform: translateZ(0);
}
.pesquisa .card:hover{
    background:#17224D;
    color: #eee;
}
.pesquisa .card:hover img{
    filter:invert(1);
}
#categorias{
    background:white;
}