/*Página pesquisadores*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,900");
body{
    background-color:#EEEEEE;        
    font-family: "Roboto", sans-serif;

}
h1{
    font-size: 25px;
}

.section-heading h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    font-size: 46px;
    color: #17224D;
    padding: 1em;
}
.card-body .card-title{
    font-weight: bolder;
    color: #17224D;
}

.box{
    float: left;
    width: 35%;
    padding: 5%;
    border-radius: px;
}
.texto{
    margin-left: 200px;
}
.box:last-child {
    background: white;
}
.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    float: left;
}

.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card h5,.card h4,.card h3{
    color: 
}

@media screen and (max-width: 600px) {

    .section-heading h1{
      font-size: 2.5rem;
    }  
  
  .d-block{
    max-width: 100%;
    }

   .title-contato{
       text-align: center;
   } 
}
/*Fim da página de pesquisadores*/