html *{
    font-family: 'Open Sans', sans-serif;
}
html{
    overflow-x:hidden;
    font-size:12px;
}
.bg-primary{
    background-color:#17224D !important;
}
/* Header */
header a{
    color:#f7f7f7 ;
}
header{
    background-color:transparent;
}
.scrolled nav{
    background-color:white !important;
    box-shadow: 2px 0 5px rgba(0,0,0,.2);
}
.scrolled nav *{
    color: #17224D !important;
}
.scrolled .btn{
    filter: drop-shadow(1px 2px 3px rgba(0,0,0,.2));
}
.scrolled .navbar-brand svg{
    fill:#17224D;
}
/* Logo do navbar */
.navbar-brand svg{
    max-height: 35px;
    max-width: 35px;
    padding: 2.5px;
    margin-right: 0.5rem;
    fill:white;
}
footer{
    background:#17224D;
    color: #f7f7f7;
    padding:20px 15px;
}
.display-2 {
    font-size: 2.5rem;
}  
@media (min-width: 576px){
    html{
        font-size: 14px;
    }
    .display-2 {
        font-size: 3.5rem;
    }  
}
@media (min-width: 768px){
    footer{
        padding:40px 70px;
    }
    .display-2 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }   
}
@media (min-width: 976px){
    html{
        font-size: 14px;
    }
}
@media(min-width: 1200px){

}