/*CSS PARA ESTILIZAR O CARROSSEL DA PÁGINA INICIAL
FEITO POR: CAINAN VALENTIM
*/
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.box{
    width: 300px;
    height: 430px;
    background-color: #EEEEEE;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 5px;
    padding: 1em 0.5em;
    transition: all ease 0.3s;

}
.lightSlider{
    padding-bottom: 0 !important;
}


.box:hover{
    background-color: #17224D;
    transform-style: preserve-3d;
    transform: scale(1.02);
}

/*Css da imagem*/

.model{
    height: 200px;
    border-radius: 10px;
    width:100%;
    object-fit: cover;
    object-position: center;
}

.details{
    box-sizing: border-box;
    padding: 1em 0.5em;
    max-width:100%;
}

/*Css do título*/
.details h3{
    font-weight: bold;
    color: #17224D;
    width:100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*Css do botão "leia mais..."*/
.details .btn-noticias{
width: 135px;
height: 36px;
background: #17224D;
border-radius: 50px;
border: #FFFFFF;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
color: #FFFFFF;
position: relative;
top:-15px;

}




.box:hover .details h3{
    color: #FFFFFF;
}

/*Hover do span*/
.box:hover .details p {
    color: #FFFFFF;
   
}

/*Hover do botão "leia mais..."*/
.box:hover .details .btn-noticias{
    background-color: #FFFFFF;
    color:#17224D;
}

/*RESPONSIVIDADE DO CARROSSEL*/

@media(max-width:720px){
    .box{
        width: 94%;
        height: 400px;
    }
    .model{
        width:100%;
        object-fit: cover;
        object-position: center;
    }
    .details h3{
        font-size: 18px;

    }
    .details span{
        font-size: 16px;
    }
    .details .btn-noticias{
        width: 100px;
        height: 26px;
        font-size: 12px;
        line-height: 18px;
    }
}